@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, sans-serif;
  }

  html[dir="rtl"] {
    direction: rtl;
  }
}

@media print {
  body:not(.printing-combined-order) > *:not(.print-layout):not(.bag-label-layout):not(.combined-print-layout) {
    display: none !important;
  }
}
